/*

1. 기존 쇼핑몰의 스타일을 오염시키지 않기 위해 
네임스페이스 개념으로 'ChannelPlugin_' 를 사용합니다.

2. javascript 로직과 관련된 엘리먼트는 
서치 성능 향상을 위해 class 보다는 id를 사용합니다.

3. 스타일시트 정리 순서는 'DOM상위 위치'->'유저 액션 순서' 입니다.

*/

.ChannelPlugin_bodyWrap{
	overflow: hidden;

}

.ChannelPlugin_bodyInnerWrap{
	max-width: 640px; 
	margin: auto;

}

#ChannelPlugin_openLayout{
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%; 
	background-color: #edefee; 
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}
/**************
메시지출력 부분
***************/
#ChannelPlugin_messageWrap{
	display: flex;
	flex: 1 1;
	flex-direction: column;
	overflow-y: scroll;
}

#ChannelPlugin_messageList{
	margin:0;
	padding:0;
}
#ChannelPlugin_messageList li.bubbleWrap{
	margin-bottom: 0.5em;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#ChannelPlugin_messageList li.my{
	align-items: flex-end !important;
}

#ChannelPlugin_messageList li>.bubble{
	background-color: #51e494;
	border-radius: 25px;
	color: white;
	display: inline-block;
	padding: 1em 1em;
}
#ChannelPlugin_messageList li>.my{
	background-color: white;
	color: black;
}

/**************
입력 부분
***************/
.ChannelPlugin_inputWrap{
	width:100%; 
	min-height: 4em;
}

.ChannelPlugin_inputInnerWrap{
	display: flex; 
	min-height: 3em;
}

#ChannelPlugin_textArea{
	width:80%; 
	max-width: 90%;
	font-size: 1em; 
	resize: none; 
	border: 1px solid #eee;
}

#ChannelPlugin_textArea:focus{
	border:0;
	outline: 1px solid #eee;
}

#ChannelPlugin_sendBtn{
	flex:1 1; 
	border-radius: 25px; 
	background-color:#51e494; 
	border:0; 
	color:white;
	font-size: 1em;
}
